<h2>Edit User "<%= @user.full_name %>"</h2>

<%= form_for(@user) do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.email_field :email %>
  <%= f.country_select :country_code %>
  <%= f.submit "Save" %>
<% end %>
